<ion-header class="headerbar">
  <ion-toolbar>
    <ion-searchbar slot="start" value="Ionic"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="ios-chatboxes"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager [options]="slideOpts">
    <ion-slide *ngFor="let img of imgSlides">
      <div>
        <img [src]="img.url" class="titleimgheader">
      </div>
    </ion-slide>
  </ion-slides>
  <ion-grid>
    <ion-card class="titleheader">
      <ion-row>
        <ion-col size="12">
          <ion-title class="titlefont">ภารกิจพิเศษ</ion-title>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-card class="cardtitleheader">
      <ion-row>
        <ion-col size="4" class="iconcenter1">
          <div>
            <ion-icon slot="icon-only" src="https://image.flaticon.com/icons/svg/189/189080.svg"></ion-icon>
          </div>
        </ion-col>
        <ion-col size="4" class="iconcenter1">
          <div>
            <ion-icon slot="icon-only" src="https://image.flaticon.com/icons/svg/189/189080.svg"></ion-icon>
          </div>
        </ion-col>
        <ion-col size="4" class="iconcenter1">
          <div>
            <ion-icon slot="icon-only" src="https://image.flaticon.com/icons/svg/189/189080.svg"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-card>

    <!-- <ion-button>
        Right Icon
        <ion-icon slot="end" src="assets/point-right.svg"></ion-icon>
        </ion-button> -->

  </ion-grid>

  <ion-toolbar>
    <ion-card class="titleheader">
      <ion-row>
        <ion-col size="12">
          <ion-title class="titlefont">Free Sipping Or Discount</ion-title>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-toolbar>

  <ion-card class="cardtitleheader">
    <ion-row>
      <ion-col size="4" class="iconcenter1">
        <div>
          <ion-icon slot="icon-only" src="https://image.flaticon.com/icons/svg/189/189080.svg"></ion-icon>
        </div>
      </ion-col>
      <ion-col size="4" class="iconcenter1">
        <div>
          <ion-icon slot="icon-only" src="https://image.flaticon.com/icons/svg/189/189080.svg"></ion-icon>
        </div>
      </ion-col>
      <ion-col size="4" class="iconcenter1">
        <div>
          <ion-icon slot="icon-only" src="https://image.flaticon.com/icons/svg/189/189080.svg"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-card>


  <ion-toolbar>
    <ion-card class="titleheader">
      <ion-row>
        <ion-col size="12">
          <ion-title class="titlefont">Hot Sale Top10 ประจำสัปดาห์</ion-title>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-toolbar>

  <ion-card class="cardslides-1">

    <ion-grid>
      <ion-row>
        <ion-slides>
          <ion-slide>
            <div>
              <ion-card class="cardsize">
                <ion-card-header>
                  <ion-card-content>
                    <img class="imgsize" src="http://www.hand2buy.com/product/upload/photos/43169/201609080932110.jpg">
                    <ion-button expand="full">Shop</ion-button>
                  </ion-card-content>
                </ion-card-header>
              </ion-card>
            </div>
          </ion-slide>
          <ion-slide>
            <div>
              <ion-card class="cardsize">
                <ion-card-header>
                  <ion-card-content>
                    <img class="imgsize" src="http://www.hand2buy.com/product/upload/photos/43169/201609080932110.jpg">
                    <ion-button expand="full">Shop</ion-button>
                  </ion-card-content>
                </ion-card-header>
              </ion-card>
            </div>
          </ion-slide>
          <ion-slide>
            <div>
              <ion-card class="cardsize">
                <ion-card-header>
                  <ion-card-content>
                    <img class="imgsize" src="http://www.hand2buy.com/product/upload/photos/43169/201609080932110.jpg">
                    <ion-button expand="full">Shop</ion-button>
                  </ion-card-content>
                </ion-card-header>
              </ion-card>
            </div>
          </ion-slide>
          <ion-slide>
            <div>
              <ion-card class="cardsize">
                <ion-card-header>
                  <ion-card-content>
                    <img class="imgsize" src="http://www.hand2buy.com/product/upload/photos/43169/201609080932110.jpg">
                    <ion-button expand="full">Add to Cart</ion-button>
                  </ion-card-content>
                </ion-card-header>
              </ion-card>
            </div>
          </ion-slide>
          <ion-slide>
            <div>
              <ion-card class="cardsize">
                <ion-card-header>
                  <ion-card-content>
                    <img class="imgsize" src="http://www.hand2buy.com/product/upload/photos/43169/201609080932110.jpg">
                    <ion-button expand="full">Add to Cart</ion-button>
                  </ion-card-content>
                </ion-card-header>
              </ion-card>
            </div>
          </ion-slide>
        </ion-slides>
      </ion-row>
    </ion-grid>

  </ion-card>

  <ion-toolbar>
    <ion-card class="titleheader">
      <ion-row>
        <ion-col size="12">
          <ion-title class="titlefont">สินค้าแนะนำ</ion-title>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-toolbar>

  <ion-card class="cardslides-2">

    <ion-grid>
      <ion-slides>
        <ion-slide>
          <ion-row>
            <ion-col size="6" size-md>
              <ion-card>
                <ion-card-header>
                  <ion-card-content>
                    <img src="https://th-test-11.slatic.net/p/mdc/40330503abfaebf1adaa1a8961becaff.jpg">
                    <ion-button expand="full">Shop</ion-button>
                  </ion-card-content>
                </ion-card-header>
              </ion-card>
            </ion-col>
            <ion-col size="6" size-md>
              <ion-card>
                <ion-card-header>
                  <ion-card-content>
                    <img src="https://th-test-11.slatic.net/p/c9a77c4562b1ab22187eb655bac49d87.jpg">
                    <ion-button expand="full">Shop</ion-button>
                  </ion-card-content>
                </ion-card-header>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6" size-md>
              <ion-card>
                <ion-card-header>
                  <ion-card-content>
                    <img src="https://th-test-11.slatic.net/p/mdc/40330503abfaebf1adaa1a8961becaff.jpg">
                    <ion-button expand="full">Shop</ion-button>
                  </ion-card-content>
                </ion-card-header>
              </ion-card>
            </ion-col>
            <ion-col size="6" size-md>
              <ion-card>
                <ion-card-header>
                  <ion-card-content>
                    <img src="https://th-test-11.slatic.net/p/c9a77c4562b1ab22187eb655bac49d87.jpg">
                    <ion-button expand="full">Shop</ion-button>
                  </ion-card-content>
                </ion-card-header>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6" size-md>
              <ion-card>
                <ion-card-header>
                  <ion-card-content>
                    <img src="https://th-test-11.slatic.net/p/mdc/40330503abfaebf1adaa1a8961becaff.jpg">
                    <ion-button expand="full">Shop</ion-button>
                  </ion-card-content>
                </ion-card-header>
              </ion-card>
            </ion-col>
            <ion-col size="6" size-md>
              <ion-card>
                <ion-card-header>
                  <ion-card-content>
                    <img src="https://th-test-11.slatic.net/p/c9a77c4562b1ab22187eb655bac49d87.jpg">
                    <ion-button expand="full">Shop</ion-button>
                  </ion-card-content>
                </ion-card-header>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-slide>
      </ion-slides>
    </ion-grid>

  </ion-card>

</ion-content>